        [Unit]
        Description=Flatpak Update Service

        [Service]
        ExecStart=$(realpath "$0")

        [Unit]
        Description=Run Flatpak Update Daily

        [Timer]
        OnCalendar=daily
        Persistent=true

        [Install]
        WantedBy=timers.target
