        [Unit]
        Description=Flatpak Update Service

        [Service]
        ExecStart=$(realpath "$0")
        EOF"

        sudo bash -c "cat > /etc/systemd/system/flatpak-update.timer <<EOF
        [Unit]
        Description=Run Flatpak Update Daily

        [Timer]
        OnCalendar=daily
        Persistent=true

        [Install]
        WantedBy=timers.target